
.filter-box {
    position: absolute;
    right: 180px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    padding: 1rem;
    top: calc(100% - 15px);
    z-index: 1000;
  }
  
  .filter-box h2 {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  
  .price-filter {
    margin-bottom: 1rem;
  }
  
  .price-filter label {
    display: block;
    margin-bottom: 0.5rem;

  }
  
  .price-filter input {
    width: 100%;
    color: red;
  }
  
  .brand-filter label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .brand-filter input {
    margin-right: 0.5rem;
  }
  

  