.navbar{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: rgb(240, 238, 235);
    box-shadow:0 0px 8px  rgb(12, 12, 12);
    
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo img{
    height:12vh;
    padding-right: 10px;
    
}
.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-cart{
    margin-left: 300px;
}

.nav-cart-counter{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: -55px;
    margin-left: 45px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: wheat;
    position: absolute;
    
}
.nav-cart img{
    width: 4vw;
    padding-top: 10px;
}
.searchbar{
    justify-content:center;
    padding-top: 20px;
    padding-left: 65px;
    
}

/* searchbar css */

.input-wrapper{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 16px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    width:80%;
    margin-left: 5px;
}

input:focus{
    outline: none;
}

#search-icon{
    color:rgb(42, 42, 213);
}


/* DropdownButton.css */
.dropdown {
    position: absolute;
    display: inline-block;
    padding-left: 800px;

  }
  
  .dropbtn {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #eef2f2;
    color: rgb(11, 11, 11);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 8vw;
    height: 6vh;
  }
  
  .dropdown-content {
    display: none;
    border-radius: 10px;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  